:root {
    --background: #0a0a0a;
    --mainTextColor: #C49F02;
    --secoundTextColor:#858585;
    --secoundBlack:#373737;
    --ThirdBlack:#121212;
    --white:#FFFFFF;
    --transparentBackGround:rgba(255, 255, 255, 0.01);
    --transparentWhite:rgba(255, 255, 255, 0.1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --mainTextColor: #C49F02;
    --secoundTextColor:#858585;
    --secoundBlack:#373737;
    --white:#FFFFFF;
  }
} */
@font-face{
   font-family: "mainFont";
   src: url("/assets/fonts/Poppins-Black.ttf");
}
@font-face{
   font-family: "mainFontItalic";
   src: url("/assets/fonts/Poppins-BlackItalic.ttf");
}
@font-face{
   font-family: "mainFontBold";
   src: url("/assets/fonts/Poppins-Bold.ttf");
}
@font-face{
   font-family: "italicFont";
   src: url("/assets/fonts/Poppins-Italic.ttf");
}
@font-face{
   font-family: "MediumFont";
   src: url("/assets/fonts/Poppins-Medium.ttf");
}
@font-face{
   font-family: "MediumItalicFont";
   src: url("/assets/fonts/Poppins-MediumItalic.ttf");
}
@font-face{
   font-family: "ThinFont";
   src: url("/assets/fonts/Poppins-Thin.ttf");
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  background-color: var(--background);
  user-select: none;
  /* overflow-x: hidden; */
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button:hover , a:hover{
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
input[type=email], input[type=number], input[type=password], input[type=text], textarea {
  font-size: 16px !important;
  -webkit-text-size-adjust: 100%;
}
